@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body {
    font-family: 'Gentium Book Plus', serif;
    height: 100vh;
    margin: 0;
    background-color: rgb(253, 243, 231);
}

/* header */

header {
    background: #301f0d;
}

.nav-1{
    position: relative;
    flex-wrap: wrap;
    flex: content;
    display: flex;
    justify-content: center;
    

}

.logo{
    padding: 11px;
    text-align: left;
}
.logo img {
    width: 50%;
}

.nav-text {
    font-size: 20px;
    padding-top: 25px;
}
.nav-text a {
    color: white;
    margin-left: 80px;
}




/*main*/

.colortext{
    color:rgba(128, 0, 0, 1) ;
    font-weight: bold;
}


.about_us img{
    font-size: 15px;
    width: 300px;
    height: auto;
    padding-left: 3%;
}


.main-contaner img {
    float: left;
    margin-right: 20px; 
}

.main-contaner{
    padding-bottom: 30px;
}

.about_us_block-1 {
    min-height: 225px;
}

.about_us_block-2 {
    min-height: 190 px;
}
  







/* footer */

footer {
    background: #301f0d;
    color: white;
}

.footer-container {
    padding-top: 25px;
    position: relative;
    flex-wrap: wrap;
    flex: content;
    display: flex;
    justify-content: center;
}

.logo-footer {
    margin-top: 70px;
    font-size: 20px;
    margin-right: 100px;
}


.footer img {
    width: 62%;
}


.time{
    margin-left: 19%;
    text-align: end;
}